*.o
*.a
*.d

compile/.defs
compile/.deps
compile/.vers_num
compile/xinu
compile/xinu.bin
compile/xinu.elf
compile/xinu.map
compile/System.map
compile/tags
compile/binaries/

compile/version

config/config
config/conf.c
config/conf.h
config/lex.yy.c
config/y.tab.c
config/y.tab.h

system/conf.c
include/conf.h

compile_commands.json
.clangd/
.cache/

.vscode/